/*-------------------------------------------- general --- */
.gapTop-xl{
    margin-top: 30px;
}

.gapBottom{
    margin-bottom: 15px;
}
/*---------------------------------------------- navbar --- */
.navbar{
    background-color: #d3d3d3;
}

input {
    margin-top: 15px;
    margin-bottom: 15px;
}

#signInButton{
    color: black;
    border-color: black;
}

a .hiddenLink {
    color: black;
    text-decoration: none
}
/*------------------------------------------------- posts --- */
.allPostsContainer{
    margin-bottom: 20px;
    margin-top: 20px;
}

.postContainer{
    border-left: lightgray solid 5px;
    margin: 10px;
}

.postNotComment{
    padding-left: 7px;
}

.post{
    margin-left: 10px;
    margin-bottom: 5px;
}

.singlePost {
    line-height: 16px;
    font-size: 16px;
}

.post-text{
    padding-bottom: 6px;
}
/*--------------------------------- posts per page button --- */
.postsPerPageButton{
    transform: translate(-10px, 10px);
}

.dropdown-item{
    width: 189px;
}
/*-------------------------------------------- page links --- */
.samePageButton{
    color: gray;
    font-weight: bold;
    margin-right: 10px;
    padding: 3px 6px;
}

.otherPageButton{
    font-weight: bold;
    margin-right: 10px;
    padding: 3px 6px;
}