<!DOCTYPE html>
<HTML xmlns:th="http://www.thymeleaf.org"
      lang="en">
<body>
<div th:fragment="singlePostDisplay (thisPost)" class="singlePost">
    <div style="margin-left: 10px; margin-bottom: 5px;" class="rounded">
        <div th:utext="'Posted by <strong>' + ${thisPost.author}  + '</strong>  ' + ${thisPost.timeAgo} ">
        </div>
        <div>
            <a th:text="${thisPost.getTitle()}"
               th:href="@{${thisPost.getUrl()}}"
               class="h5 text-success"></a>
        </div>
        <span id="upvoting">
            <a th:if="${thisPost.canBeUpvoted} == true"
               th:href="@{  '/users/' + ${userId} + '/postsPerPage/' + ${postsPerPage} +
                            '/page/' + ${pageNumber} +'/posts/'+ ${thisPost.id} + '/increaseScore'}">
                <img src="/upvote-green.png" alt="upvote" class="icon"/>
            </a>
            <img th:unless="${thisPost.canBeUpvoted} == true"
                 src="/upvote-gray.png" alt="upvote (forbidden)" class="icon"/>
        </span>
        <span th:text="${thisPost.score}" class="score"></span>
        <span id="downvoting">
            <a th:if="${thisPost.canBeDownvoted} == true"
               th:href="@{  '/users/' + ${userId} + '/postsPerPage/' + ${postsPerPage} +
                            '/page/' + ${pageNumber} +'/posts/'+ ${thisPost.id} + '/decreaseScore'}">
                <img src="/downvote-green.png"
                    alt="downvote"
                    class="icon"/>
            </a>
            <img th:unless="${thisPost.canBeDownvoted} == true"
                 src="/downvote-gray.png" alt="downvote (forbidden)" class="icon"/>
        </span>
        <span th:if="${userId == 0}">
            <img src="/reply-gray.png" alt="reply (forbidden)" class="icon"/>
        </span>
        <span th:unless="${userId == 0}">
            <a th:href="    '/users/' + ${userId} + '/postsPerPage/' + ${postsPerPage} +'/page/' + ${pageNumber} +
                            '/posts/' + ${thisPost.id} + '/submitComment'">
                <img src="/reply-green.png" alt="reply" class="icon"/>
            </a>
        </span>
    </div>
</div>
</body>
</HTML>