<!DOCTYPE html>
<HTML xmlns:th="http://www.thymeleaf.org" xmlns:margin-right="http://www.w3.org/1999/xhtml" lang="en">
<span th:replace="fragments/head.html"/>
<body>
    <span th:replace="fragments/headerGeneral.html"/>
    <div class="container allPostsContainer">
        <div class="row">
            <div class="col-10">
                <div class="postNotComment" th:each="thisPost: ${posts}">
                    <div th:replace="fragments/postDisplayWithComments.html :: commentedPostDisplay(${thisPost})"/>
                </div>
            </div>
            <div class="col-2">
                <div class="dropdown">
                    <button th:utext="'Min. posts/page <br>(current: min. <strong>' + ${postsPerPage} + '</strong>)'"
                            class="btn btn-outline-dark btn-lg float-right dropdown-toggle postsPerPageButton"
                            type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                    </button>
                    <div  class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <span th:each="i : ${possiblePostsPerPage}">
                            <a  th:href="@{'/users/' + ${userId} +'/postsPerPage/' + ${i} + '/page/1'}"
                                th:text="${i}"  class="dropdown-item"></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-12">
            <span th:each="anotherPage: ${pageLinks}">
                <a th:if="${anotherPage == pageNumber}"
                   class="btn btn-outline-success btn-lg samePageButton"
                   data-test="samePageNumber"
                   th:href="@{'/users/'+ ${userId} + '/postsPerPage/'+ ${postsPerPage} + '/page/'+ ${anotherPage}}"
                   th:text="@{'page ' + ${anotherPage}}">
                </a>
                <a th:unless="${anotherPage == pageNumber}"
                   class="btn btn-outline-dark btn-lg otherPageButton"
                   data-test="otherPageNumber"
                   th:href="@{'/users/'+ ${userId} + '/postsPerPage/'+ ${postsPerPage} + '/page/'+ ${anotherPage}}"
                   th:text="@{'page ' + ${anotherPage}}">
                </a>
            </span>
        </div>
    </div>
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.bundle.js"></script>
</body>
</HTML>