<!DOCTYPE html>
<HTML xmlns:th="http://www.thymeleaf.org"
      lang="en">
<span th:replace="fragments/head.html"></span>
<body>
    <span th:replace="fragments/headerGeneral.html"/>
    <div class="container d-flex justify-content-center" style="margin-top: 30px;">
        <div class="col-4 text-center">
            <h1>Submit a new link</h1>
           <form th:action="@{'/users/' + ${userId} + '/postsPerPage/'+ ${postsPerPage} +'/submitPost'}" th:method="POST">
                <div class="form-group">
                    <textarea class="form-control rounded-0" rows="3" id="text"
                              name="title" field="title" placeholder="text" required></textarea>
                    <input id="url" type="text" name="url" field="url" class="form-control"
                           placeholder="url" required/>
                    <button class="btn btn-secondary btn-lg btn-block" type="submit">Submit</button>
               </div>
            </form>
        </div>
    </div>
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.bundle.js"></script>
</body>
</HTML>